@import url('../../../styles.css');

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-view-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.collections-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: grey;
  padding: 42px;
}

.item-list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 42px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.collection-list-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  flex-grow: 1;
}

.collection-list-container .collection-list-element {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  width: 100%;
  color: white;
  margin-bottom: 5px;
}

.collection-list-container .collection-list-element.is-active {
  background-color: black;
  color: white;
}

.collection {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: black;
}

.collection-title {
  flex-grow: 1;
  margin-right: 10px;
}

.item {
  display: flex;
  background: black;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 10px;
  align-items: center;
}

.item .item-text {
  display: flex;
  flex-grow: 1;
  color: white;
}

.icon {
  cursor: pointer;
}

.checkmark {
  cursor: pointer;
  height: 20px;
  margin-top: 15px;
  margin-right: 5px;
}

.button-item-edit,
.button-item-delete {
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: black;
  border-radius: 12px;
}

.footer {
  cursor: pointer;
  border-radius: 15px;
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
}
