<div class="main-container">
  <div class="input-container">

    <input #itemTitleInput type="text" placeholder="Enter item name...">
    <br><br>
    <select #itemRaritySelect>
      <option value="1">Rare</option>
      <option value="2">Uncommon</option>
      <option value="3">Common</option>
    </select>
    <br><br>
    <div>
      <button style="margin-right: 5px" (click)="updateItem(itemTitleInput.value, itemRaritySelect.value)">Save</button>
      <button [routerLink]="'/collections/' + (collectionId ? collectionId : '')">Cancel</button>
    </div>
  </div>
</div>
